* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/*KARŞILAMA MESAJI*/
#karşılama {
    position:fixed;
    top: 50px;
    font-size: 28px;
    color: #fff;
}

/* KARTVİZİT TASARIMI */
.card {
    background: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(10px);    /* Cam efekti */
    padding: 50px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 90%;
    max-width:600px;
    height: 500px;
    margin: 20px auto;
    cursor: pointer;
    transition: transform 0.3s ease !important;
}

.card:hover, .card:active {
    transform: translateY(-10px) !important;
}

/*FOTOĞRAF*/
.profile-img {
    width: 120px;
    height:120px;
    border-radius:50%;
    object-fit: cover;
    border: 2px solid #fff;
    margin-bottom: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
    font-size: 25px;
    margin-bottom: 5px;
}

.title {
    color: #6366f1;
    font-weight:700;
    margin-bottom:20px;
    text-transform:uppercase;
    letter-spacing: 1px;
}

.links {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.btn {
    display: inline-flex; 
    align-items: center;  
    justify-content: center;
    text-decoration: none;
    padding:20px;
    border-radius: 8px;
    background-color:#333;
    color:#fff;
    font-weight: bold;
    gap: 10px;
    border: none;
    transition:all 0.3s ease !important;
}

.btn:hover {
    background-color:#764ba2 !important;
    transform: translateY(-2px) scale(1.05) !important;
}

.btn i {
    margin-right: 8px;
}

/* RESPONSIVE TASARIM */
@media (max-width:1024px) {
    #karşılama {
        top: 30px;
    }

    .card {
        margin-bottom: 40px;
        margin-top:-20px;
    }
}
@media (max-width:770px)  {
    .card {
        margin-top: 50px;
    }

    #karşılama {
        top: 20px;
        padding: 20px;
        font-size: 22px;
    }
}

@media (max-width:515px) {
    .card {
        margin: 30px 0 0 0;
    }
}

@media (max-width: 390px) {
    .card {
        margin: 100px 10px 20px 10px;
        height: 450px;
        margin: 0;
    }
    
    .links {
        gap: 5px;
    }

    .btn {
        padding: 15px;
        font-size: 14px;
    }

    #karşılama {
        font-size: 20px;
    }
}